[submodule ".vim/bundle/coffee-script"]
    path = .vim/bundle/coffee-script
    url = git://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/colors-all-bundle"]
    path = .vim/bundle/colors-all-bundle
    url = git://github.com/flazz/vim-colorschemes.git
[submodule ".vim/bundle/easymotion"]
    path = .vim/bundle/easymotion
    url = git://github.com/Lokaltog/vim-easymotion.git
[submodule ".vim/bundle/fugitive"]
    path = .vim/bundle/fugitive
    url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/indent-object"]
    path = .vim/bundle/indent-object
    url = git://github.com/michaeljsmith/vim-indent-object.git
[submodule ".vim/bundle/javascript"]
    path = .vim/bundle/javascript
    url = git://github.com/pangloss/vim-javascript.git
[submodule ".vim/bundle/less.git"]
    path = .vim/bundle/less.git
    url = git://github.com/groenewege/vim-less.git
[submodule ".vim/bundle/markdown"]
    path = .vim/bundle/markdown
    url = git://github.com/tpope/vim-markdown.git
[submodule ".vim/bundle/markdown-folding"]
    path = .vim/bundle/markdown-folding
    url = git://github.com/nelstrom/vim-markdown-folding.git
[submodule ".vim/bundle/matchit"]
    path = .vim/bundle/matchit
    url = git://github.com/edsono/vim-matchit.git
[submodule ".vim/bundle/nerdcommenter"]
    path = .vim/bundle/nerdcommenter
    url = git://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/nerdtree"]
    path = .vim/bundle/nerdtree
    url = git://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/rainbow-parenthesis"]
    path = .vim/bundle/rainbow-parenthesis
    url = git://github.com/vim-scripts/Rainbow-Parenthesis.git
[submodule ".vim/bundle/repeat"]
    path = .vim/bundle/repeat
    url = git://github.com/tpope/vim-repeat.git
[submodule ".vim/bundle/replace-with-register"]
    path = .vim/bundle/replace-with-register
    url = git://github.com/vim-scripts/ReplaceWithRegister.git
[submodule ".vim/bundle/search-fold"]
    path = .vim/bundle/search-fold
    url = git://github.com/vim-scripts/searchfold.vim.git
[submodule ".vim/bundle/snipmate"]
    path = .vim/bundle/snipmate
    url = git://github.com/msanders/snipmate.vim.git
[submodule ".vim/bundle/surround"]
    path = .vim/bundle/surround
    url = git://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/syntax-perl-mason"]
    path = .vim/bundle/syntax-perl-mason
    url = git://github.com/aming/vim-mason.git
[submodule ".vim/bundle/syntax-perl-mojo"]
    path = .vim/bundle/syntax-perl-mojo
    url = git://github.com/yko/mojo.vim.git
[submodule ".vim/bundle/syntax-php"]
    path = .vim/bundle/syntax-php
    url = https://github.com/vim-scripts/php.vim--Garvin.git
[submodule ".vim/bundle/unimpaired"]
    path = .vim/bundle/unimpaired
    url = git://github.com/tpope/vim-unimpaired.git
